.nav {
    margin: 0;
    overflow: hidden;
}

.navList {
    margin: 1rem;
    padding: 0;
    display: flex;
}

.navItem {
    padding: 0;
    margin: 0 2rem;
    background-color: #ffffff;
    color: #18A0FB;
    border-radius: 6px;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem:hover {
    background-color: #18A0FB;
    color: #ffffff;
    border-radius: 6px;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.navItem:first-child {
    margin-right: auto;
    font-size: 1.5em;
    color: #000000;
}

.navItem:first-child:hover {
    background-color: #ffffff;
}

.navItem:last-child {
    padding: 0;
    margin: 0 2rem;
    background-color: #18A0FB;
    color: #ffffff;
    border-radius: 6px;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem:last-child:hover {
    background-color: #ffffff;
    color: #18A0FB;
    border: 1px solid #18A0FB;
}